body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100vw;
}
.inner {
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
}

.header {
}
.header p {
  text-align: start;
}
.header__inner {
  width: 70%;
}
/* .header__inner {
  width: 80%;
  margin: 0 auto;
  height: 300px;
  background: pink;
} */

h3,
p {
  text-align: center;
}

.cards__box {
  margin-left: 1rem;
}

.bg_dark_green {
  background: #23424a;
  color: white;
}
.bg_green {
  background: #136c72;
  color: white;
}
.bg_light_green {
  background: #38cfd9;
}
.flex {
  display: flex;
}
